body{
    background-color: orange;
}
img{
    padding: 20px;
    width: 200px;
    height: 200px;
    float: left;
}
.col-4{
    width: 500px;
    height: 400px;
    background-color: white;
    float: left;
    margin: 50px;

}
p{
    margin: 20px;
    float: left;
}
h1{
    text-align: center;
}